@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sniglet:wght@400;800&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.logoLi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.logoDisney {
  width: 135px;
  height: 90px;
}

.ul1 {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  
}

.ul2 {
  display: flex;
  gap: 50px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 18px;
  list-style: none;
  cursor: pointer;
  font-family: "Sniglet", serif;
  font-weight: 400;
}

.logoutIcon {
  width: 40px;
  height: 40px;
}


.logout {
  cursor: pointer;
}

.containerModal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(43, 72, 109, 0.856);
}


.containerModalCreate {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: rgba(43, 72, 109, 0.856);

}