.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  font-size: 18px;
  font-family: "Sniglet", serif;
  font-weight: 400;
}

.logoutButton{
  cursor: pointer;
}
