.logoutButton{
  cursor: pointer;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.cardContainer {
  width: 350px;
  height: 300px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 3px 7px rgb(0 0 0 / 0.1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}